.dragDropContainer {
  display: flex;
  background-image: url('../images/bgPic.png');
  padding-bottom: 50px;
}

img{
    border: 1px solid black;
}
.container-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.container {
  width: 208px;
  height: 208px;
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  user-select: none;
}

.corner-image {
  position: absolute;
  width: 30px;
  height: 30px;
  user-select: none;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.center-image {
  position: absolute;
  width: 208px;
  height: 117px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform: translate(-50%, -50%);
}

#piecesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

/******* Grid *******/
#piecesGrid {
    border: 2px solid black;
    width: 505px;
    height: 229px;
    background: #F1F1F1;
    margin: 340px 150px 0 50px;
}

.grid-cell {
    width: 45px;
    height: 45px;
    position: relative;
    flex: 1 0 9%;
}

.mid-cell {
    border-right: 1px solid grey;
}

.circle {
    width: 45px;
    height: 45px;
    background-color: #CFCFCF;
    border-radius: 50%;
}

.row1 {
    width: 495px;
    display: flex;
    flex-wrap: nowrap;
}

.row2, .row3, .row4, .row5  {
    width: 495px;
    display: flex;
    padding-right: 10px;
    flex-wrap: nowrap;
    border-top: 1px solid grey
}

.btnRow {
    margin-top: 120px;
}

#validate, #getSolutions {
    font-size: 25px;
    margin-left: 70px;
    background: rgb(214, 238, 255);
    border: none;
    padding:10px;
    color:red;
}