/* Reset some default styles */
@import 'https://fonts.googleapis.com/css?family=Rubik+One';
html, body {
    margin: 0;
    padding: 0;
    background-color: offwhite;
}

/* Common styles for the game container */
.game-container {
    display: flex;
    justify-content: center;
    height: 586px;
    background-color: #f0f0f0;
}

/* Style the game board */
.game-container > .game-board {
    background-color: blue;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}

/* Style the blank window */
.game-container > .blank-window {
    background-color: red;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}

/* Common styles for the title container */
.title-container {
    text-align: center;
    margin: 20px auto;
    width: 30%;
    padding: 50px;
}

/* Styles for the logo */
.logo {
    height: 50px;
    width: 390px;
    margin: 0 auto;
    display: block;
}

/* Styles for the game tile */
.game-tile {
    width: 20%;
    height: 40px;
    background-color: #ccc;
    margin: 34px auto;
    color: black;
    padding: 25px;
    text-align: center;
}

/* Center the button container and style the game buttons */
.button-container {
    text-align: center;
    margin: 20px;
}

/* Styles for the game buttons */
.game-button {
  display: inline-block;
  padding: 20px 50px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -20%);
  background-color: #3498db;
  text-decoration: none;
  transition: all .5s;
  font-size: 2vw;
  font-family: 'Rubik One', sans-serif;
  vertical-align: middle;
}

.game-button::before, .game-button::after {
  position: absolute;
  content: '';
  transition: all .5s;
}

.game-button::before {
  width: 100%;
  height: 15px;
  background-color: #fff;
  bottom: -15px;
  left: 8px;
  transform: skewX(45deg);
  background-color: #5E5757;
}

.game-button::after {
  width: 15px;
  height: 100%;
  background-color: #fff;
  right: -15px;
  top: 8px;
  transform: skewY(45deg);
  background-color: #806969;
}

.game-button:active {
  margin-left: 10px;
	margin-top: 10px;
}

.game-button:active::before {
  height: 5px;
  bottom: -5px;
  left: 3px;
}

.game-button:active:after {
  width: 5px;
  top: 3px;
  right: -5px;
}

