@import 'https://fonts.googleapis.com/css?family=Rubik+One';
.board {
    display: grid;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 2px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #696464;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 25px;
}

.cell:hover {
    background-color: lightgray;
}

/*-----------------------------*/

/* Center the entire page content vertically and horizontally*/
html {
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Add background color and styling to the main content*/
body {
    background-image: url("../images/background-without-title.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    background-color: #f4f4f4;
    padding-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 200vh;
    margin: 0;
}

/* Style the title and description with the specified color */
.title-image {
    max-width: 70vw;

     /* Updated color */
}

h3 {
    font-family: 'Supply Center', sans-serif;
    font-size: 28px;
    color: #06315e; /* Updated color */
}

p {
    font-family: 'Maybe But Not Always', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
}

ul, li {
    text-align: justify;
    font-family: 'Maybe But Not Always', sans-serif;
}

b {
    font-size: 16px;
    color: #017176;
}

/* Style the chessboard and solution container */
.display-mode {
    background-color: #BCF4FA;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 70vw;
    margin: 0 auto;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns in the grid */
    gap: 20px; /* Adjust the gap between the columns */
}

.info-mode {
    background-color: #BCF4FA;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70vw;
    margin: 0 auto;
    text-align: left;
    display: flex;
    grid-template-columns: 1fr 1fr; /* Two columns in the grid */
    gap: 20px; /* Adjust the gap between the columns */
}

.display-mode img {
    max-width: 60%; /* Make the images responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: Add border-radius to the images */
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Use 100% of the viewport height */
}

.result-mode {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70vw;
    margin: 0 auto;
    text-align: left;
    display: grid;
    grid-template-columns: 3fr 3fr; /* Two columns in the grid */
    gap: 20px; /* Adjust the gap between the columns */
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer1 {
    display: grid;
    align-items: center;
    justify-content: center;
}

.button-container button {
    width: 150px; /* Adjust the width as needed */
    margin: 0 5px; /* Add margin between buttons */
}

.display-mode {
    position: relative; /* Ensure relative positioning for absolute children */
}


/*
.corner-image {
    position: absolute;
}
*/
#rotationButtons {
    grid-column: span 2; /* Make the buttons span both columns */
    text-align: center; /* Center-align the buttons */
}

#rotationButtons button {
    display: inline-block; /* Ensure buttons are inline-block elements */
    margin: 5px; /* Add margin between buttons if needed */
}
#rotateClockwise, #rotateCounterclockwise, #flipHorizontal, #flipVertical, #previousImageButton, #nextImageButton {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
}

.edit-mode {
    background-color: #BCF4FA;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 70vw;
    margin: 0 auto;
}


.result-mode {
    background-color: #D0E7D2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 70vw;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.footer {
    background-color: #f4f4f4;
    text-align: center;
}
.content {
    font-size: 16px;
    color: #333;
    text-align: center;
}

/*Button CSS
/* Center the button container and style the game buttons */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #06315e;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Maybe But Not Always', sans-serif;
  font-weight: 150;
}
.btn:hover, .btn:focus {
  color: white;
  outline: 0;
}


/* Styles for the game buttons */
.third {
  border-color: #3498db;
  color: #261616;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn1 {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #06315e;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Maybe But Not Always', sans-serif;
  font-weight: 150;
}
.btn1:hover, .btn1:focus {
  color: white;
  outline: 0;
}


/* Styles for the game buttons */
.fourth {
  border-color: #3498db;
  color: #261616;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.fourth:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn2 {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #06315e;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Maybe But Not Always', sans-serif;
  font-weight: 150;
}
.btn2:hover, .btn2:focus {
  color: white;
  outline: 0;

}


/* Styles for the game buttons */
.fifth {
  border-color: #3498db;
  color: #261616;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.fifth:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.futuristic-text-field {
    position: relative;
    width: 300px;
    display: inline-block;
}

.futuristic-text-field input {
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 16px;
    outline: none;
    text-align: center;
    font-family: 'Maybe But Not Always', sans-serif;
}

.futuristic-text-field input:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.futuristic-text-field label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: #fff;
    pointer-events: none;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.futuristic-text-field input:focus + label,
.futuristic-text-field input:not(:placeholder-shown) + label {
    transform: translateY(-100%) scale(0.8);
    font-size: 12px;
    color: #aaa;
}

.game-text {
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    animation: blink 1s infinite;
    font-family: 'Maybe But Not Always', sans-serif;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.solution-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #808280;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Optional: Customize scrollbar styles */
.solution-container::-webkit-scrollbar {
    width: 10px;
}

.solution-container::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
}

.solution-container::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}