/* Reset some default styles */
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Center the entire page content vertically and horizontally */
html {
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Add background color and styling to the main content */
body {
    background-image: url("../images/chess-background.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

label {
    font-family: 'Maybe But Not Always', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
}

/* Style the title and description with the specified color */
h1 {
    font-family: 'Supply Center', sans-serif;
    font-size: 28px;
    color: #06315e; /* Updated color */
}

h3 {
    font-family: 'Supply Center', sans-serif;
    font-size: 28px;
    color: #06315e; /* Updated color */
}

p {
    font-family: 'Maybe But Not Always', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
}

b {
    font-size: 16px;
    color: #017176;
}

/* Style the chessboard and solution container */
.edit-mode {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.result-mode {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

.table-container {
    display: inline-block;
    border: 2px solid black;
}

.white, .white-edit {
    background-color: #b58863;
    border-width: 0;
    padding: 0;
    height: 50px;
    width: 50px;
}

.black, .black-edit {
    background-color: #f0d9b5;
    border-width: 0;
    padding: 0;
    height: 50px;
    width: 50px;
}

.play-area {
    align: center;
}

.solution {
    margin: 0 10px 10px 0; /* Adjust margin as needed */
    text-align: center; /* Center the text within the input */

}

#editableChessboard {
    display: inline-block;
    border: 2px solid black;
}

/* Style the "Show Solutions" button with rounded edges and the specified color */
#solutionBtn {
    background-color: #017176; /* Updated color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px; /* Add rounded edges */
}

#solutionBtn:hover {
    background-color: #005b85; /* Slightly darker shade on hover */
}

/* Style the "Validate" button with rounded edges and the specified color */
#validateBtn {
    background-color: #017176; /* Updated color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px; /* Add rounded edges */
}
/* Default style for the disabled button */
#validateBtn:disabled {
    background-color: gray; /* Change the background color */
    color: white; /* Change the text color */
}

/* Style for the enabled button */
#validateBtn:enabled {
    background-color: green; /* Change the background color */
    color: white; /* Change the text color */
}

/* Style the number input */
#size {
    padding: 5px; /* Adjust the padding for more comfortable input */
    font-size: 14px;
    border: 2px solid #017176; /* Add a border with the specified color */
    border-radius: 5px; /* Add rounded edges */
    width: 50px; /* Set the width */
    text-align: center; /* Center the text within the input */
}

/* Style the number input on hover */
#size:hover {
    border-color: #005b85; /* Change the border color on hover */
}

.wrapper {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

footer {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
content {
    font-size: 16px;
    color: #333;
}
.title-img {
    height: 200px;
    width: 1000px;

}

.solution-container {
    justify-content: center;
    display: none;
    flex-wrap: wrap;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 500px; /* Adjust the value according to your design */
}

/* Optional: Customize scrollbar styles */
.solution-container::-webkit-scrollbar {
    width: 10px;
}

.solution-container::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
}

.solution-container::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

.btn {
 justify-content: center;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #06315e;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  align-self: center;
  font-weight: 400;
  line-height: 1;
  margin: 5px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Maybe But Not Always', sans-serif;
  font-weight: 150;
}
.btn:hover, .btn:focus {
  color: white;
  outline: 0;
}

.first {
  border-color: #3498db;
  color: #261616;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

/* Styles for the game buttons */
.fifth {
  border-color: #3498db;
  color: #261616;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.fifth:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.futuristic-text-field {
    position: relative;
    width: 300px;
    display: inline-block;
}

.futuristic-text-field input {
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 16px;
    outline: none;
    text-align: center;
    font-family: 'Maybe But Not Always', sans-serif;
}

.futuristic-text-field input:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.futuristic-text-field label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: #fff;
    pointer-events: none;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.futuristic-text-field input:focus + label,
.futuristic-text-field input:not(:placeholder-shown) + label {
    transform: translateY(-100%) scale(0.8);
    font-size: 12px;
    color: #aaa;
}

.game-text {
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    animation: blink 1s infinite;
    font-family: 'Maybe But Not Always', sans-serif;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Use 100% of the viewport height */
}