@import 'https://fonts.googleapis.com/css?family=Rubik+One';
.board {
    display: grid;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 2px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #696464;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 25px;
}

.cell:hover {
    background-color: lightgray;
}

/*-----------------------------*/

/* Center the entire page content vertically and horizontally*/
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Center the entire page content vertically and horizontally */
html {
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Add background color and styling to the main content*/
body {
    background-image: url("../images/background-without-title.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

#panel {
    /*display: flex;*/
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: #000;
}

#c {
 /*display: flex;*/
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: #000;
}

.canvas {
    margin: 0;
    padding: 0;
    display:flex;
    width: 900px;
    height: 500px;
    top: 0;
    left:0;
}


/* Style the title and description with the specified color */
.title-image {
    max-width: 70vw;

     /* Updated color */
}

h3 {
    font-family: 'Supply Center', sans-serif;
    font-size: 28px;
    color: #06315e; /* Updated color */
}

p {
    font-family: 'Maybe But Not Always', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
}

ul, li {
    text-align: justify;
    font-family: 'Maybe But Not Always', sans-serif;
}

b {
    font-size: 16px;
    color: #017176;
}

/* Style the chessboard and solution container */
.display-mode {
    background-color: #BCF4FA;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 70vw;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns in the grid */
    gap: 20px; /* Adjust the gap between the columns */

}

.info-mode {
    background-color: #BCF4FA;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70vw;
    margin: 0 auto;
    text-align: left;
    display: flex;
    grid-template-columns: 1fr 1fr; /* Two columns in the grid */
    gap: 20px; /* Adjust the gap between the columns */
}

.display-mode img {
    max-width: 60%; /* Make the images responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: Add border-radius to the images */
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Use 100% of the viewport height */
}

.result-mode {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70vw;
    margin: 0 auto;
    text-align: left;
    display: grid;
    grid-template-columns: 3fr 3fr; /* Two columns in the grid */
    gap: 20px; /* Adjust the gap between the columns */
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#SolContainer {
    display: none;
    align-items: center;
    justify-content: center;
}
#Levels {
    display: none;
    align-items: center;
    justify-content: center;
}


.button-container button {
    width: 150px; /* Adjust the width as needed */
    margin: 0 5px; /* Add margin between buttons */
}

.display-mode {
    position: relative; /* Ensure relative positioning for absolute children */
}

.edit-mode {
    background-color: #BCF4FA;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 70vw;
    margin: 0 auto;
}

.wrapper {
    flex: 1;
    background-color: #BCF4FA;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.footer {
    background-color: #f4f4f4;
    text-align:center;
}

.content {
    font-size: 16px;
    color:#333;
    text-align: center;
}

/*Button CSS
/* Center the button container and style the game buttons */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #06315e;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Maybe But Not Always', sans-serif;
  font-weight: 150;
}
.btn:hover, .btn:focus {
  color: white;
  outline: 0;
}


/* Styles for the game buttons */
.third {
  border-color: #3498db;
  color: #261616;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn1 {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #06315e;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Maybe But Not Always', sans-serif;
  font-weight: 150;
}
.btn1:hover, .btn1:focus {
  color: white;
  outline: 0;
}


/* Styles for the game buttons */
.fourth {
  border-color: #3498db;
  color: #261616;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.fourth:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn2 {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #06315e;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Maybe But Not Always', sans-serif;
  font-weight: 150;
}
.btn2:hover, .btn2:focus {
  color: white;
  outline: 0;

}


/* Styles for the game buttons */
.fifth {
  border-color: #3498db;
  color: #261616;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}
.fifth:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.futuristic-text-field {
    position: relative;
    width: 300px;
    display: inline-block;
}

.futuristic-text-field input {
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 16px;
    outline: none;
    text-align: center;
    font-family: 'Maybe But Not Always', sans-serif;
}

.futuristic-text-field input:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.futuristic-text-field label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: #fff;
    pointer-events: none;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.futuristic-text-field input:focus + label,
.futuristic-text-field input:not(:placeholder-shown) + label {
    transform: translateY(-100%) scale(0.8);
    font-size: 12px;
    color: #aaa;
}

.game-text {
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    animation: blink 1s infinite;
    font-family: 'Maybe But Not Always', sans-serif;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.solution-container {
    max-height: 900px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #BCF4FA;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 500px; /* Adjust the value according to your design */
}


/* Optional: Customize scrollbar styles */
.solution-container::-webkit-scrollbar {
    width: 10px;
}

.solution-container::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
}

.solution-container::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

/*CSS FOR CHECKBOX*/
/* Style for checkboxes */
input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

label1 {
    border: 2px solid #4CAF50; /* Green border color, change as needed */
    border-radius: 20%;
    display: inline-block;
    font-family: 'Maybe But Not Always', sans-serif;
    font-size: 16px; /* Slightly larger font size */
    color: #333; /* Darker text color */
    padding: 8px 12px; /* Adjusted padding for better spacing */
    background-color: #f8f8f8; /* Light background color */
    transition: transform 0.2s ease-in-out; /* Smooth hover transition */

}

label1:hover {
    transform: scale(1.7); /* Adjust the scale factor as needed */
    background-color: #A6FF96;
}

#positionInputForm button {
    display: inline-block;
    margin: 3px; /* Adjust the margin as needed */
}

.list-item {
  margin: 1em;
  padding: 2em;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.list-item .scene {
  width: 200px;
  height: 200px;
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
.list-item .description {
  font-family: sans-serif;
  font-size: large;
  padding-left: 2em;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

@media only screen and (max-width : 600px) {
  #content {
    width: 100%;
  }
  .list-item {
    margin: 0.5em;
    padding: 0.5em;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .list-item .description {
    padding-left: 0em;
  }
}
