<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Still Trying</title>
    <script src="{% static 'polysphere_app/js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'polysphere_app/css/index.css' %}">

</head>
<body>
    <div class="dragDropContainer" >
        <div id="piecesGrid">
            <div class="row1">
                <div class="grid-cell mid-cell"><div id="circle0-0" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle0-2" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle0-1" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle0-3" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle0-4" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle0-5" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle0-6" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle0-7" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle0-8" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle0-9" class="circle"></div></div>
                <div class="grid-cell"><div id="circle0-10" class="circle"></div></div>
            </div>
            <div class="row2">
                <div class="grid-cell mid-cell"><div id="circle1-0" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle1-1" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle1-2" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle1-3" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle1-4" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle1-5" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle1-6" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle1-7" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle1-8" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle1-9" class="circle"></div></div>
                <div class="grid-cell"><div id="circle1-10" class="circle"></div></div>
            </div>
            <div class="row3">
                <div class="grid-cell mid-cell"><div id="circle2-0" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle2-1" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle2-2" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle2-3" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle2-4" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle2-5" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle2-6" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle2-7" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle2-8" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle2-9" class="circle"></div></div>
                <div class="grid-cell "><div id="circle2-10" class="circle"></div></div>
            </div>
            <div class="row4">
                <div class="grid-cell mid-cell"><div id="circle3-0" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle3-1" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle3-2" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle3-3" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle3-4" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle3-5" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle3-6" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle3-7" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle3-8" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle3-9" class="circle"></div></div>
                <div  class="grid-cell"><div id="circle3-10"class="circle"></div></div>
            </div>
            <div class="row5">
                <div class="grid-cell mid-cell"><div id="circle4-0" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle4-1" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle4-2" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle4-3" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle4-4" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle4-5" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle4-6" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle4-7" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle4-8" class="circle"></div></div>
                <div class="grid-cell mid-cell"><div id="circle4-9" class="circle"></div></div>
                <div class="grid-cell"><div id="circle4-10" class="circle"></div></div>
            </div>
        </div>
        <div id="piecesContainer">

        </div>

    </div>

</body>
</html>