<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Still Trying</title>
    <link rel="stylesheet" href="/static/polysphere_app/css/index.css">
    <script src="/static/polysphere_app/js/index.js"></script>

</head>
<body>
    <div class="dragDropContainer">
        <div id="piecesGrid">
            <div class="row1">
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell"><div class="circle"></div></div>
            </div>
            <div class="row2">
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell"><div class="circle"></div></div>
            </div>
            <div class="row3">
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell "><div class="circle"></div></div>
            </div>
            <div class="row4">
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell"><div class="circle"></div></div>
            </div>
            <div class="row5">
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell mid-cell"><div class="circle"></div></div>
                <div class="grid-cell"><div class="circle"></div></div>
            </div>
        </div>
        <div id="piecesContainer"></div>

    </div>
</body>
</html>