<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polysphere Puzzle</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/drag_and_drop.js' %}"></script>

    <!-- JQuery -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>
<body>
    <div> class="game-board"
        <!-- Create the grid cells -->
        <!-- Rows -->
        <!-- Row 1 -->
        <div class="grid-cell" data-row="1" data-col="1"></div>
        <div class="grid-cell" data-row="1" data-col="2"></div>
        <div class="grid-cell" data-row="1" data-col="3"></div>
        <div class="grid-cell" data-row="1" data-col="4"></div>
        <div class="grid-cell" data-row="1" data-col="5"></div>
        <div class="grid-cell" data-row="1" data-col="6"></div>
        <div class="grid-cell" data-row="1" data-col="7"></div>
        <div class="grid-cell" data-row="1" data-col="8"></div>
        <div class="grid-cell" data-row="1" data-col="9"></div>
        <div class="grid-cell" data-row="1" data-col="10"></div>
        <div class="grid-cell" data-row="1" data-col="11"></div>

        <!-- Row 2 -->
        <div class="grid-cell" data-row="2" data-col="1"></div>
        <div class="grid-cell" data-row="2" data-col="2"></div>
        <div class="grid-cell" data-row="2" data-col="3"></div>
        <div class="grid-cell" data-row="2" data-col="4"></div>
        <div class="grid-cell" data-row="2" data-col="5"></div>
        <div class="grid-cell" data-row="2" data-col="6"></div>
        <div class="grid-cell" data-row="2" data-col="7"></div>
        <div class="grid-cell" data-row="2" data-col="8"></div>
        <div class="grid-cell" data-row="2" data-col="9"></div>
        <div class="grid-cell" data-row="2" data-col="10"></div>
        <div class="grid-cell" data-row="2" data-col="11"></div>

        <!-- Row 3 -->
        <div class="grid-cell" data-row="3" data-col="1"></div>
        <div class="grid-cell" data-row="3" data-col="2"></div>
        <div class="grid-cell" data-row="3" data-col="3"></div>
        <div class="grid-cell" data-row="3" data-col="4"></div>
        <div class="grid-cell" data-row="3" data-col="5"></div>
        <div class="grid-cell" data-row="3" data-col="6"></div>
        <div class="grid-cell" data-row="3" data-col="7"></div>
        <div class="grid-cell" data-row="3" data-col="8"></div>
        <div class="grid-cell" data-row="3" data-col="9"></div>
        <div class="grid-cell" data-row="3" data-col="10"></div>
        <div class="grid-cell" data-row="3" data-col="11"></div>

        <!-- Row 4 -->
        <div class="grid-cell" data-row="4" data-col="1"></div>
        <div class="grid-cell" data-row="4" data-col="2"></div>
        <div class="grid-cell" data-row="4" data-col="3"></div>
        <div class="grid-cell" data-row="4" data-col="4"></div>
        <div class="grid-cell" data-row="4" data-col="5"></div>
        <div class="grid-cell" data-row="4" data-col="6"></div>
        <div class="grid-cell" data-row="4" data-col="7"></div>
        <div class="grid-cell" data-row="4" data-col="8"></div>
        <div class="grid-cell" data-row="4" data-col="9"></div>
        <div class="grid-cell" data-row="4" data-col="10"></div>
        <div class="grid-cell" data-row="4" data-col="11"></div>

        <!-- Row 5 -->
        <div class="grid-cell" data-row="5" data-col="1"></div>
        <div class="grid-cell" data-row="5" data-col="2"></div>
        <div class="grid-cell" data-row="5" data-col="3"></div>
        <div class="grid-cell" data-row="5" data-col="4"></div>
        <div class="grid-cell" data-row="5" data-col="5"></div>
        <div class="grid-cell" data-row="5" data-col="6"></div>
        <div class="grid-cell" data-row="5" data-col="7"></div>
        <div class="grid-cell" data-row="5" data-col="8"></div>
        <div class="grid-cell" data-row="5" data-col="9"></div>
        <div class="grid-cell" data-row="5" data-col="10"></div>
        <div class="grid-cell" data-row="5" data-col="11"></div>
    </div>

    <div> class="game-pieces"
        <div class="game-piece" data-piece="1" data-orientation="1"></div>
        <div class="game-piece" data-piece="2" data-orientation="1"></div>
        <div class="game-piece" data-piece="3" data-orientation="1"></div>
        <div class="game-piece" data-piece="4" data-orientation="1"></div>  
        <div class="game-piece" data-piece="5" data-orientation="1"></div>
        <div class="game-piece" data-piece="6" data-orientation="1"></div>
        <div class="game-piece" data-piece="7" data-orientation="1"></div>
        <div class="game-piece" data-piece="8" data-orientation="1"></div>
        <div class="game-piece" data-piece="9" data-orientation="1"></div>
        <div class="game-piece" data-piece="10" data-orientation="1"></div>
        <div class="game-piece" data-piece="11" data-orientation="1"></div>
        <div class="game-piece" data-piece="12" data-orientation="1"></div>
    </div>

</body>

