<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polysphere Puzzle</title>
    <link rel="stylesheet" href="/static/polysphere_app/css/style.css">

    <!-- JQuery -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/split.js' %}"></script>
</head>
<body>
<div class="split-container">
    <div class="split left">
        <h1>The Designer</h1>
        <a href="#" class="game-button">Read More</a>
    </div>
    <div class="split right">
        <h1>The Programmer</h1>
        <a href="#" class="game-button">Read More</a>
    </div>
</div>
<!--<div class="title-container">
    <img class="logo" src="/static/polysphere_app/images/Logo.png" alt="Description of the image">
</div> Title disabled temporarily, needs CSS work -->

<!-- Game Container with button Start -->
<!--<div class="game-container">
    <div class="game-board">
    </div>
    <div class="blank-window">
    </div>
</div>
<div class="button-container">
    <button class="game-button">Solve</button>
    <button class="game-button">Left</button>
    <button class="game-button">Right</button>
</div>-->
<!-- Game Container with button End -->

</body>
</html>
