<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Polysphere Puzzle</title>
        <link rel="stylesheet" href="{% static 'polysphere_app/css/style.css' %}">

        <!-- JQuery -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </head>
    <body>
        <script src="{% static 'polysphere_app/js/createGameBoard.js' %}"></script>
        <script src="{% static 'polysphere_app/js/drag_and_drop.js' %}"></script>
        <script src="{% static 'polysphere_app/js/make_shapes.js' %}"></script>
    </body>
</html>

