body{
	background-image:  linear-gradient(180deg, rgba(244,244,247,1) 0%, rgba(241,246,251,1) 50%, rgba(0,212,255,1) 100%);

}
h1{
    text-align: center;
    color: #017176;
}
.table-container {
    display: inline-block;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
}

.white, .white-edit {
    background-color: #b58863;
    border-width: 0;
    padding: 0;
    height: 50px;
    width: 50px;
}

.black, .black-edit {
    background-color: #f0d9b5;
    border-width: 0;
    padding: 0;
    height: 50px;
    width: 50px;
}

.solution-container {
    display: none;
    flex-wrap: wrap;
}

.solution {
    margin: 10px; /* Adjust margin as needed */
}