/* Reset some default styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Center the entire page content vertically and horizontally */
html, body {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Add background color and styling to the main content */
body {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

/* Style the title and description with the specified color */
h1 {
    font-size: 44px;
    color: #017176; /* Updated color */
}

h3 {
    font-size: 28px;
    color: #017176; /* Updated color */
}

p {
    font-size: 14px;
    color: #777;
    margin: 0;
}

/* Style the chessboard and solution container */
.edit-mode {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

.table-container {
    display: inline-block;
    border: 2px solid black;
}

.white, .white-edit {
    background-color: #b58863;
    border-width: 0;
    padding: 0;
    height: 50px;
    width: 50px;
}

.black, .black-edit {
    background-color: #f0d9b5;
    border-width: 0;
    padding: 0;
    height: 50px;
    width: 50px;
}

.play-area {
    align: center;
}

.solution-container {
    display: none;
    flex-wrap: wrap;
}

.solution {
    margin: 0 10px 10px 0; /* Adjust margin as needed */
}

#editableChessboard {
    display: inline-block;
    border: 2px solid black;
}

/* Style the "Show Solutions" button with rounded edges and the specified color */
#solutionBtn {
    background-color: #017176; /* Updated color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px; /* Add rounded edges */
}

#solutionBtn: {
    background-color: #005b85; /* Slightly darker shade on hover */
}

/* Style the "Validate" button with rounded edges and the specified color */
#validateBtn {
    background-color: #017176; /* Updated color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px; /* Add rounded edges */
}
/* Default style for the disabled button */
#validateBtn:disabled {
    background-color: gray; /* Change the background color */
    color: white; /* Change the text color */
}

/* Style for the enabled button */
#validateBtn:enabled {
    background-color: green; /* Change the background color */
    color: white; /* Change the text color */
}

/* Style the number input */
#size {
    padding: 5px; /* Adjust the padding for more comfortable input */
    font-size: 14px;
    border: 2px solid #017176; /* Add a border with the specified color */
    border-radius: 5px; /* Add rounded edges */
    width: 50px; /* Set the width */
    text-align: center; /* Center the text within the input */
}

/* Style the number input on hover */
#size:hover {
    border-color: #005b85; /* Change the border color on hover */
}