<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polysphere Pro | ACS Group 6</title>
    <link href="https://fonts.cdnfonts.com/css/maybe-but-not-always" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/supply-center" rel="stylesheet">
    <script src="{% static 'polysphere_app/js/kanoodle.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'polysphere_app/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <img class=title-image src="{% static 'polysphere_app/images/tetris.gif' %}" alt="title image" >
        <h3>What is Polysphere Pro ?</h3>
        <p class="edit-mode">
            Polysphere pro is a highly visual two-dimensional puzzle game that people of any age can enjoy. To play with it, users simply have to arrange a variety of interconnected spheres to duplicate structures or move and manipulate the spheres to create original designs!.
        </p>
        <br>
        <p class="edit-mode">
            Start from level 1 with partial configuration if you are a beginner or go PRO by selecting level 5.
        </p>
        <br>
        <p>Welcome {{ data_from_landing }}</p>
        <!-- Add an image element with an ID -->
        <div class="edit-mode">
            <div class="portalContainer">
                <form action="{% url 'polysphere:generate_solution_gallery' %}" method="post">
                    {% csrf_token %}
                    <div class="game-text">
                        <label for="data">Choose Levels </label>
                    </div>
                    <br>
                    <div class="level-container">
                        <a href="{% url 'polysphere:generate_solution_gallery' %}?n=1" class="btn third">Level 1</a>
                    </div>
                    <div class="level-container">
                        <a href="{% url 'polysphere:generate_solution_gallery' %}?n=2" class="btn third">Level 2</a>
                    </div>
                    <div class="level-container">
                        <a href="{% url 'polysphere:generate_solution_gallery' %}?n=3" class="btn third">Level 3</a>
                    </div>
                    <div class="level-container">
                        <a href="{% url 'polysphere:generate_solution_gallery' %}?n=4" class="btn third">Level 4</a>
                    </div>
                    <div class="level-container">
                        <a href="{% url 'polysphere:generate_solution_gallery' %}?n=5" class="btn third">Level 5</a>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <footer class="edit-mode">
            <p>&copy; Group-6 ACS</p>
        </footer>
    </div>
</div>
</body>
</html>