<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Poly Pyramid Puzzle</title>
     <link rel="stylesheet" type="text/css" href="{% static 'polysphere3D_app/css/style.css' %}">
    <script src="{% static 'polysphere3D_app/js/eventListeners.js' %}"></script>
</head>
<body>
<div class="wrapper">
    <div class="content">
    <img class=title-image src="{% static 'polysphere3D_app/images/title.webp' %}" alt="title image" >

    <div id = "mainContainer">
        <div id="container1">
            <div id="panel"> </div>
        </div>
        <div id="display-mode" style="padding-top: 10px;">
            <div class="row">
                <div class="col1">
                    <input id="isFourCheck" type="checkbox">
                    <label id="isFourLabel" for="isFourCheck">4 Level Pyramid</label>
                    <form id="positionInputForm" style="padding-bottom: 4px;">
                        <button type="button" style="margin-left: 3px; margin-right: 3px;" id="onSolveButtonClick">Solve</button>
                        <button type="button" style="margin-left: 3px; margin-right: 3px;" id="onNextButtonClick">Display Next</button>
                        <button type="button" style="margin-left: 3px; margin-right: 3px;" id="onClearButtonClick">Clear</button>
                        <button type="button" style="margin-left: 3px; margin-right: 3px;" id="onStopButtonClick">Stop</button>
                    </form>
                    <label id="shapeLabel" for="inputShape" style="padding-right: 3px;">Shape</label>
                    <input id="inputShape" type="text" value="A" onkeyup="handleKeyUp(event)">
                    <p id="solutionCount">Number of solutions: 0</p>
                    <input id="l1" type="checkbox" checked onchange="layerVisible(1, this.checked)">
                    <label id="l1Label" for="l1">1</label>
                    <input id="l2" type="checkbox" checked onchange="layerVisible(2, this.checked)">
                    <label id="l2Label" for="l2">2</label>
                    <input id="l3" type="checkbox" checked onchange="layerVisible(3, this.checked)">
                    <label id="l3Label" for="l3">3</label>
                    <input id="l4" type="checkbox" checked onchange="layerVisible(4, this.checked)">
                    <label id="l4Label" for="l4">4</label>
                    <input id="l5" type="checkbox" checked onchange="layerVisible(5, this.checked)">
                    <label id="l5Label" for="l5">5</label>
                </div>
                <div class="col2">
                    <div class="row justify-content-left pt-1" id="legend" style="padding-left: 20px;">
                        <img src="{% static 'polysphere3D_app/Images/ShapeLegend.png' %}" style="width: 70%;">
                    </div>
                </div>
                            <div class="solution-container">
                <div id="solutionContainer"></div>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
<script type="module" src="{% static 'polysphere3D_app/js/ui.js' %}"></script>
<script type="module" src="{% static 'polysphere3D_app/js/three.js' %}"></script>
<script type="module" src="{% static 'polysphere3D_app/js/OrbitControls.js' %}"></script>

</body>
</html>