<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Poly Pyramid Puzzle</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polysphere3D_app/css/style.css' %}">
    <!--    <script src="{% static 'polysphere3D_app/js/eventListeners.js' %}"></script>-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link href="https://fonts.cdnfonts.com/css/maybe-but-not-always" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/supply-center" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <div class="content">
        <img class="title-image" src="{% static 'polysphere3D_app/images/tetris.gif' %}">
        <h3>How to Play</h3>
        <div class="info-mode"></div>
        <br>
        <p>Welcome {{ data_from_landing }}</p>
        <br>

        <div class="display-mode">
            <div id="container1">

                <div id="panel"></div>
            </div>
            <div id="mainContainer">
                <div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="imageContainer">
                        <button class="btn third" id="previousImageButton">
                            <span class="material-symbols-outlined">keyboard_double_arrow_left</span>
                        </button>
                        <img id="currentImage" src="{% static 'polysphere3D_app/images/shapes/shape-1.png' %}"
                             alt="Current Image">

                        <button class="btn third" id="nextImageButton">
                            <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
                        </button>

                    </div>
                </div>
                <div id="container2">
                    <div class="row">
                        <div class="col1">
                            <div class="alphabet-container">
                                <p><span id="currentAlphabet">A</span></p>
                            </div>
                            <br>
                            <!--                            Hiding this function for now because it has no implementation currently-->
                            <!--                            <input id="isFourCheck" type="checkbox">-->
                            <!--                            <label id="isFourLabel" for="isFourCheck">4 Level Pyramid</label>-->
                            <br>
                            <br>
                            <form id="positionInputForm" style="padding-bottom: 4px;">
                                <button class="btn third" type="button" style="margin-left: 3px; margin-right: 3px;"
                                        id="onSolveButtonClick">
                                    Solve
                                </button>
                                <button class="btn third" type="button" style="margin-left: 3px; margin-right: 3px;"
                                        id="onNextButtonClick">
                                    Display Next
                                </button>
                                <button class="btn third" type="button" style="margin-left: 3px; margin-right: 3px;"
                                        id="onClearButtonClick">
                                    Clear
                                </button>
                                <button class="btn third" type="button" style="margin-left: 3px; margin-right: 3px;"
                                        id="onStopButtonClick">
                                    Stop
                                </button>
                            </form>
                            <p id="solutionCount">Number of solutions: 0</p>
                            <br>
                            <p> Select the Layer of Pyramid:</p>
                            <br>

                            <input id="l1" type="checkbox" checked>
                            <label id="l1Label" for="l1">1</label>
                            <input id="l2" type="checkbox" checked>
                            <label id="l2Label" for="l2">2</label>
                            <input id="l3" type="checkbox" checked>
                            <label id="l3Label" for="l3">3</label>
                            <input id="l4" type="checkbox" checked>
                            <label id="l4Label" for="l4">4</label>
                            <input id="l5" type="checkbox" checked>
                            <label id="l5Label" for="l5">5</label>
                            <!--                            <div class="col1">-->
                            <!--                            <span class="multi-range">-->
                            <!--                                        <input type="range" min="1" max="5" value="1" id="lower">-->
                            <!--                                        <input type="range" min="1" max="5" value="5" id="upper">-->
                            <!--                            </span>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>
        <div class="solution-container">
            <div id="solutionContainer">

                </script>
                <script type="module" >
                    import * as THREE from '"{% static './polysphere3D_app/js/three.js' %}"';
                    let camera, scene, renderer;
                    let mesh;
                    const AMOUNT = 6;

                    init();
                    animate();

                    function init() {

                    const ASPECT_RATIO = window.innerWidth / window.innerHeight;

                    const WIDTH = ( window.innerWidth / AMOUNT ) * window.devicePixelRatio;
                    const HEIGHT = ( window.innerHeight / AMOUNT ) * window.devicePixelRatio;

                    const cameras = [];

                    for ( let y = 0; y < AMOUNT; y ++ ) {

                        for ( let x = 0; x < AMOUNT; x ++ ) {

                            const subcamera = new PerspectiveCamera( 40, ASPECT_RATIO, 0.1, 10 );
                            subcamera.viewport = new Vector4( Math.floor( x * WIDTH ), Math.floor( y * HEIGHT ), Math.ceil( WIDTH ), Math.ceil( HEIGHT ) );
                            subcamera.position.x = ( x / AMOUNT ) - 0.5;
                            subcamera.position.y = 0.5 - ( y / AMOUNT );
                            subcamera.position.z = 1.5;
                            subcamera.position.multiplyScalar( 2 );
                            subcamera.lookAt( 0, 0, 0 );
                            subcamera.updateMatrixWorld();
                            cameras.push( subcamera );

                        }

                    }

                    camera = new ArrayCamera( cameras );
                    camera.position.z = 3;

                    scene = new Scene();

                    scene.add( new AmbientLight( 0x999999 ) );

                    const light = new DirectionalLight( 0xffffff, 3 );
                    light.position.set( 0.5, 0.5, 1 );
                    light.castShadow = true;
                    light.shadow.camera.zoom = 4; // tighter shadow map
                    scene.add( light );

                    const geometryBackground = new PlaneGeometry( 100, 100 );
                    const materialBackground = new MeshPhongMaterial( { color: 0x000066 } );

                    const background = new Mesh( geometryBackground, materialBackground );
                    background.receiveShadow = true;
                    background.position.set( 0, 0, - 1 );
                    scene.add( background );

                    const geometryCylinder = new CylinderGeometry( 0.5, 0.5, 1, 32 );
                    const materialCylinder = new MeshPhongMaterial( { color: 0xff0000 } );

                    mesh = new Mesh( geometryCylinder, materialCylinder );
                    mesh.castShadow = true;
                    mesh.receiveShadow = true;
                    scene.add( mesh );

                    renderer = new WebGLRenderer();
                    renderer.setPixelRatio( window.devicePixelRatio );
                    renderer.setSize( window.innerWidth, window.innerHeight );
                    renderer.shadowMap.enabled = true;
                    document.body.appendChild( renderer.domElement );

                    //

                    window.addEventListener( 'resize', onWindowResize );

                    }

                    function onWindowResize() {

                    const ASPECT_RATIO = window.innerWidth / window.innerHeight;
                    const WIDTH = ( window.innerWidth / AMOUNT ) * window.devicePixelRatio;
                    const HEIGHT = ( window.innerHeight / AMOUNT ) * window.devicePixelRatio;

                    camera.aspect = ASPECT_RATIO;
                    camera.updateProjectionMatrix();

                    for ( let y = 0; y < AMOUNT; y ++ ) {

                        for ( let x = 0; x < AMOUNT; x ++ ) {

                            const subcamera = camera.cameras[ AMOUNT * y + x ];

                            subcamera.viewport.set(
                                Math.floor( x * WIDTH ),
                                Math.floor( y * HEIGHT ),
                                Math.ceil( WIDTH ),
                                Math.ceil( HEIGHT ) );

                            subcamera.aspect = ASPECT_RATIO;
                            subcamera.updateProjectionMatrix();

                        }

                    }

                    renderer.setSize( window.innerWidth, window.innerHeight );

                    }

                    function animate() {

                    mesh.rotation.x += 0.005;
                    mesh.rotation.z += 0.01;

                    renderer.render( scene, camera );

                    requestAnimationFrame( animate );

                    }

                </script>

            </div>
        </div>

    </div>
    <br>
    <br>

</div>


<!--<div id="mainContainer">-->
<!--    <div id="container1">-->
<!--        <div id="panel"></div>-->
<!--    </div>-->
<!--    <div id="container2" style="padding-top: 10px;">-->
<!--        <div class="row">-->
<!--            <div class="col1">-->
<!--                <input id="isFourCheck" type="checkbox">-->
<!--                <label id="isFourLabel" for="isFourCheck">4 Level Pyramid</label>-->
<!--                <form id="positionInputForm" style="padding-bottom: 4px;">-->
<!--                    <button type="button" style="margin-left: 3px; margin-right: 3px;" id="onSolveButtonClick">Solve-->
<!--                    </button>-->
<!--                    <button type="button" style="margin-left: 3px; margin-right: 3px;" id="onNextButtonClick">Display-->
<!--                        Next-->
<!--                    </button>-->
<!--                    <button type="button" style="margin-left: 3px; margin-right: 3px;" id="onClearButtonClick">Clear-->
<!--                    </button>-->
<!--                    <button type="button" style="margin-left: 3px; margin-right: 3px;" id="onStopButtonClick">Stop-->
<!--                    </button>-->
<!--                </form>-->
<!--                <label id="shapeLabel" for="inputShape" style="padding-right: 3px;">Shape</label>-->
<!--                <input id="inputShape" type="text" value="A">-->
<!--                <p id="solutionCount">Number of solutions: 0</p>-->
<!--                <input id="l1" type="checkbox" checked>-->
<!--                <label id="l1Label" for="l1">1</label>-->
<!--                <input id="l2" type="checkbox" checked>-->
<!--                <label id="l2Label" for="l2">2</label>-->
<!--                <input id="l3" type="checkbox" checked>-->
<!--                <label id="l3Label" for="l3">3</label>-->
<!--                <input id="l4" type="checkbox" checked>-->
<!--                <label id="l4Label" for="l4">4</label>-->
<!--                <input id="l5" type="checkbox" checked>-->
<!--                <label id="l5Label" for="l5">5</label>-->
<!--            </div>-->
<!--            <div class="col2">-->
<!--                <div class="row justify-content-left pt-1" id="legend" style="padding-left: 20px;">-->
<!--                    <img src="{% static 'polysphere3D_app/Images/ShapeLegend.png' %}" style="width: 70%;">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<script type="module" src="{% static 'polysphere3D_app/js/ui.js' %}"></script>
<script type="module" src="{% static 'polysphere3D_app/js/three.js' %}"></script>
<script type="module" src="{% static 'polysphere3D_app/js/OrbitControls.js' %}"></script>

</body>
</html>